tut/*
__pycache__/
*.pyc
*.dbg
*.db
tfile
log.*
rconsole*
.AppleDouble
.atom-nfs
rnfs.log
lgetTemp.log
lroot.log
lthermod.log
lwebsrvd.log
out
status
.DS_Store
p_pidfile_thermod
websrvd.py.bak
websrvd.py_2017-09-02
