<!DOCTYPE html>
<!-- *
* Include the style sheets...
* -->

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='lame.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css-toggle-switch.css')}}">


<script type='application/javascript' src="{{url_for('static',filename='fastclick.js')}}"></script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<!-- This will update the current indoor temp as fed from getIndoorTemp.py
	 Refreshes every 5 seconds -->
<script>
    function updateTemp() {
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $.ajax({
            url: $SCRIPT_ROOT + "/_liveTemp",
            success: function(result) {
                $('#indoorTempSpan').html(result);
            }
        })
    };

    function updateWhatsOn() {
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $.ajax({
            url: $SCRIPT_ROOT + "/_liveWhatsOn",
            success: function(result) {
                $('#whatsOnSpan').html(result);
            }
        })
    };

    window.setInterval(function() {
        updateTemp();
        updateWhatsOn();
    }, 5000);
</script>

<script>
    function changeSwitch(ev) {

        myval = ev.id;
        myUrl = "/_toggleChanged_" + String(myval)

        console.log("*** Changed, val = <" + myUrl + ">");


        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $.ajax({
            url: $SCRIPT_ROOT + myUrl,
            success: function(result) {
                return;
            }
        })
    };

    function updateWhatsOn() {

        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $.ajax({
            url: $SCRIPT_ROOT + "/_liveWhatsOn",
            success: function(result) {
                $('#whatsOnSpan').html(result);
            }
        })
    };

    window.setInterval(function() {
        updateWhatsOn()
    }, 1000);
</script>

<script>
    function updateDaemonStatus() {

        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        $.ajax({
            url: $SCRIPT_ROOT + "/_liveDaemonStatus",
            success: function(result) {
                $('#daemonStatusSpan').html(result);
            }
        })
    };

    window.setInterval(function() {
        updateDaemonStatus()
    }, 5000);
</script>

<script>
    // This is run after onload(), and based on what the
    // Flask-passed value of 'switch_status' is, then we
    // check the appropriate box.  It's only called once
    // per page load.
    function getSwitchStatus() {
        box_id = "{{ checked }}"
        $(box_id).attr('checked', 'checked')
    };

</script>

<script>

    // Create a new function for jQuery that centers the objet
    // in the middle of the screen and scales it down
    jQuery.fn.center = function () {
        this.css("position","absolute");
        this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2)) + "px");
        this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2)) + "px");
        this.css("max-width", "20%");
        this.css("height", "auto");
        return this;
    };

    // Only run this once the whole page and all elements are loaded
    $( document ).ready(function() {
        // Set display attributes to hidden for each .img class
        $(".img").each(function() {
            $(this).css("display","none");
        });

        // Now,delay for 10 secs,and then center each image.
        console.log('Before the timeout: ' + Date());
        setTimeout(function() {
            $(".img").each(function() {
                $(this).center();
            });
            console.log('After the timeout: ' + Date());

        }, 10000);

        // One last time for good measure...
        $(".img").each(function() {
            $(this).center();
        });
    });


</script>

<script type="application/javascript">
    window.addEventListener('load', function() {
        var plus, minus;

        plus = document.getElementById('plus');
        minus = document.getElementById('minus');

        // Android 2.2 needs FastClick to be instantiated before the other listeners so that the stopImmediatePropagation hack can work.
        FastClick.attach(minus);
        FastClick.attach(plus);

        plus.addEventListener('click', function(event) {
            increment(document.getElementById('target'))
        }, false);

        minus.addEventListener('click', function(event) {
            decrement(document.getElementById('target'))
        }, false);
    }, false);
</script>

<!-- Makes them fancy buttons go -->
<script type=text/javascript src="{{
  url_for('static', filename='increment.js') }}"></script>

<body onload="updateTemp(); updateWhatsOn(); updateDaemonStatus();
getSwitchStatus(); ">

    <div id="imgContainer">
        <img id="img_heat" class="img" style="position:absolute;" src="{{url_for('static',filename='img_heat.png')}}" />
        <img id="img_fan" class="img" style="position:absolute;" src="{{url_for('static',filename='img_fan.png')}}" />

    <div id="container2">
        <form action="." method="POST">
            <div id="container1">
                <div id="col1">
                    <center>

                        <div class="switch-toggle switch-3 switch-candy" id="switch" style="height:100px;">
                            <input id="off" name="state-d" type="radio" {{ check_off }} onChange="changeSwitch(this);" >
                            <label for="off" onclick="">SYS<br>OFF</label></input>

                            <input id="fan" name="state-d" type="radio" {{ check_fan }} onChange="changeSwitch(this);" >
                            <label for="fan" onclick="">FAN<br>ONLY</label></input>

                            <input id="heat" name="state-d" type="radio" {{ check_heat }} onChange="changeSwitch(this);" >
                            <label for="heat" onclick="">AUTO<br>HEAT</label></input>
                            <a></a>
                        </div>



                        <br>
                        <div class="plus" id="plus">+</div>
                        <input type="text" id="target" name="target" value={{ targetTemp }}>
                        <div class="minus" id="minus">-</div>
                        <br>

                        <!-- *****************************
                        * Toggle switch
                        ****************************** -->


                    </center>
                </div>

                <div id="col2">
                    <center>
                        <!-- the heating / cooling switch -->
                        <div class="switch">
                            <a href="http://pithy.local:7788/proxy/macreyes.local:8176/controlpage?name=CR&useJS=True">
                    <img src="{{url_for('static',filename='indigo_logo.png')}}"
                        height="76px" width="380px" />
                </a>

                            <center>
                                {{ weatherString|safe }}
                                <br>
                                <!-- center tags are basically the extent of my web design knowledge. -->
                                <!-- updated by the updateTemp() js function defined above -->
                                Current indoor temp:
                                <p id="currentTemp"><span id="indoorTempSpan"></span>&deg;</p>
                                Current target temp:
                                <p id="targetTemp">{{targetTemp}}&deg;</p>
                                <input type="submit" class="go" id="goButton" class="goButton" value="Go!">
                                <span id="daemonStatusSpan"></span>
                                <span id="whatsOnSpan"></span>
                            </center>
                        </div>
                    </center>
                    <div id="header">
                        <center>
                            {% with messages = get_flashed_messages() %} {% if messages %}
                            <ul class=flashes style="border;">
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% block javascript %}
                            <script>
                                /* Reload for the flash message in 5 seconds */
                                setTimeout(function() {
                                    location.reload();
                                }, 7000);
                            </script>
                            {% endblock %} {% endif %} {% endwith %}
                        </center>

                    </div>
                </div>
        </form>
